@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inconsolata:wght@300;400;500;700&family=Pacifico&display=swap');
*, :before, :after {
	box-sizing: border-box;
	position: relative;
}
html {
	font-size: clamp(18px, 1rem + 1.5vw, 2.118vw);
}
p {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 2vw;
	font-family: 'Inconsolata', monospace;
}
small {
	font-family: 'Inconsolata', monospace;
	font-size: .5rem;
}
li {
	list-style-type: circle;
	font-family: 'Inconsolata', monospace;
}
h1, h3, h2, .h3, h4 {
	padding-left: .75rem;
	padding-right: .75rem;
	font-family: 'Anton', sans-serif;
}
body {
	background-color: #FFFEFF;
	color: #000300;
}
.ft {
	font-size: 1em;
}
/*grid learning*/

.container {
	width: 70%;
}
.row {
	padding-bottom: 1rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
	text-align: left;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-m-1, .col-m-2, .col-m-3, .col-m-4, .col-m-5, .col-m-6, .col-m-7, .col-m-8, .col-m-9, .col-m-10, .col-m-11, .col-m-12, .col-s-1, .col-s-2, .col-s-3, .col-s-4, .col-s-5, .col-s-6, .col-s-7, .col-s-8, .col-s-9, .col-s-10, .col-s-11, .col-s-12 {
	margin-left: auto;
	margin-right: auto;
}
.container-fluid {
	width: calc(100%-1rem);
	margin-left: auto;
	margin-right: auto;
}

.warning {
	text-align: center;
	padding-top: 1rem;
}

/*XS*/

.col-xs-1 {
	flex: 0 0 calc((100% / 12));
	max-width: calc((100% / 12));
}
.col-xs-2 {
	flex: 0 0 calc((100% / 12)*2);
	max-width: calc((100% / 12)*2);
}
.col-xs-3 {
	flex: 0 0 calc((100% / 12)*3);
	max-width: calc((100% / 12)*3);
}
.col-xs-4 {
	flex: 0 0 calc((100% / 12)*4);
	max-width: calc((100% / 12)*4);
}
.col-xs-5 {
	flex: 0 0 calc((100% / 12)*5);
	max-width: calc((100% / 12)*5);
}
.col-xs-6 {
	flex: 0 0 calc((100% / 12)*6);
	max-width: calc((100% / 12)*6);
}
.col-xs-7 {
	flex: 0 0 calc((100% / 12)*7);
	max-width: calc((100% / 12)*7);
}
.col-xs-8 {
	flex: 0 0 calc((100% / 12)*8);
	max-width: calc((100% / 12)*8);
}
.col-xs-9 {
	flex: 0 0 calc((100% / 12)*9);
	max-width: calc((100% / 12)*9);
}
.col-xs-10 {
	flex: 0 0 calc((100% / 12)*10);
	max-width: calc((100% / 12)*10);
}
.col-xs-11 {
	flex: 0 0 calc((100% / 12)*11);
	max-width: calc((100% / 12)*11);
}
.col-xs-12 {
	flex: 0 0 calc((100% / 12)*12);
	max-width: calc((100% / 12)*12);
}
/*XS*/

@media screen and (min-width: 576px) {
	/*s*/
	.col-s-1 {
		flex: 0 0 calc((100% / 12));
		max-width: calc((100% / 12));
	}
	.col-s-2 {
		flex: 0 0 calc((100% / 12)*2);
		max-width: calc((100% / 12)*2);
	}
	.col-s-3 {
		flex: 0 0 calc((100% / 12)*3);
		max-width: calc((100% / 12)*3);
	}
	.col-s-4 {
		flex: 0 0 calc((100% / 12)*4);
		max-width: calc((100% / 12)*4);
	}
	.col-s-5 {
		flex: 0 0 calc((100% / 12)*5);
		max-width: calc((100% / 12)*5);
	}
	.col-s-6 {
		flex: 0 0 calc((100% / 12)*6);
		max-width: calc((100% / 12)*6);
	}
	.col-s-7 {
		flex: 0 0 calc((100% / 12)*7);
		max-width: calc((100% / 12)*7);
	}
	.col-s-8 {
		flex: 0 0 calc((100% / 12)*8);
		max-width: calc((100% / 12)*8);
	}
	.col-s-9 {
		flex: 0 0 calc((100% / 12)*9);
		max-width: calc((100% / 12)*9);
	}
	.col-s-10 {
		flex: 0 0 calc((100% / 12)*10);
		max-width: calc((100% / 12)*10);
	}
	.col-s-11 {
		flex: 0 0 calc((100% / 12)*11);
		max-width: calc((100% / 12)*11);
	}
	.col-s-12 {
		flex: 0 0 calc((100% / 12)*12);
		max-width: calc((100% / 12)*12);
	}
	/*s*/
}
@media screen and (min-width: 950px) {
	/*m*/
	.col-m-1 {
		flex: 0 0 calc((100% / 12));
		max-width: calc((100% / 12));
	}
	.col-m-2 {
		flex: 0 0 calc((100% / 12)*2);
		max-width: calc((100% / 12)*2);
	}
	.col-m-3 {
		flex: 0 0 calc((100% / 12)*3);
		max-width: calc((100% / 12)*3);
	}
	.col-m-4 {
		flex: 0 0 calc((100% / 12)*4);
		max-width: calc((100% / 12)*4);
	}
	.col-m-5 {
		flex: 0 0 calc((100% / 12)*5);
		max-width: calc((100% / 12)*5);
	}
	.col-m-6 {
		flex: 0 0 calc((100% / 12)*6);
		max-width: calc((100% / 12)*6);
	}
	.col-m-7 {
		flex: 0 0 calc((100% / 12)*7);
		max-width: calc((100% / 12)*7);
	}
	.col-m-8 {
		flex: 0 0 calc((100% / 12)*8);
		max-width: calc((100% / 12)*8);
	}
	.col-m-9 {
		flex: 0 0 calc((100% / 12)*9);
		max-width: calc((100% / 12)*9);
	}
	.col-m-10 {
		flex: 0 0 calc((100% / 12)*10);
		max-width: calc((100% / 12)*10);
	}
	.col-m-11 {
		flex: 0 0 calc((100% / 12)*11);
		max-width: calc((100% / 12)*11);
	}
	.col-m-12 {
		flex: 0 0 calc((100% / 12)*12);
		max-width: calc((100% / 12)*12);
	}
	/*m*/
}
@media screen and (min-width: 1200px) {
	.col-1 {
		flex: 0 0 calc((100% / 12));
		max-width: calc((100% / 12));
	}
	.col-2 {
		flex: 0 0 calc((100% / 12)*2);
		max-width: calc((100% / 12)*2);
	}
	.col-3 {
		flex: 0 0 calc((100% / 12)*3);
		max-width: calc((100% / 12)*3);
	}
	.col-4 {
		flex: 0 0 calc((100% / 12)*4);
		max-width: calc((100% / 12)*4);
	}
	.col-5 {
		flex: 0 0 calc((100% / 12)*5);
		max-width: calc((100% / 12)*5);
	}
	.col-6 {
		flex: 0 0 calc((100% / 12)*6);
		max-width: calc((100% / 12)*6);
	}
	.col-7 {
		flex: 0 0 calc((100% / 12)*7);
		max-width: calc((100% / 12)*7);
	}
	.col-8 {
		flex: 0 0 calc((100% / 12)*8);
		max-width: calc((100% / 12)*8);
	}
	.col-9 {
		flex: 0 0 calc((100% / 12)*9);
		max-width: calc((100% / 12)*9);
	}
	.col-10 {
		flex: 0 0 calc((100% / 12)*10);
	}
	.col-11 {
		flex: 0 0 calc((100% / 12)*11);
		max-width: calc((100% / 12)*11);
	}
	.col-12 {
		flex: 0 0 calc((100% / 12)*12);
		max-width: calc((100% / 12)*12);
	}
}
/*end of grid*/

/* Font styles*/

.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
/* End Font styles*/

/*button styles*/

.btn-primary {
	background-color: #C0C0C0;
	border-color: none;
	color: #000300;
	border-color: #000300;
	font-weight: 700;
	font-family: 'Open Sans Condensed', sans-serif;
}
.btn-primary:hover {
	border-color: #000300;
	background-color: #FFFEFF;
	color: #000300;
}
.btn-secondary {
	background-color: #696969;
	color: #FFFEFF;
	font-weight: 700;
	font-family: 'Open Sans Condensed', sans-serif;
}
.btn-secondary:hover {
	border-color: #696969;
	background-color: #FFFEFF;
	color:	#696969;
}
/*end button styles*/

/*header styles*/

nav {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: left;
	padding-top: .5rem;
	padding-left: .5rem;
}
.navbar-brand {
	display: block;
	overflow: hidden;
	background: url("../img/fork-logo.png") no-repeat 0 0/contain transparent;
	height: 2rem;
	text-indent: -999999999px;
	flex: 0 0 calc(100% - 3rem);
	max-width: calc(100% - 3rem);
}
.navbar-toggler {
	border: 0ch;
	background-color: #696969;
	color: #FFFEFF;
	width: 2rem;
	height: 2rem;
	flex: 0 0 2rem;
	max-width: 2rem;
	font-size: 1rem;
	line-height: 1em;
	cursor: pointer;
}
.navbar {
	flex: 0 0 100%;
	max-width: 100%;
	display: none;
}
.navbar.open {
	display: block;
}
.navbar, .navbar ul, .navbar li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.navbar a:link, .navbar a:active, .navbar a:hover, .navbar a:visited {
	display: block;
	overflow: hidden;
	padding: 0.5rem 0.75rem;
	text-decoration: none;
	color: #000300;
}
.navbar .dropdown>a:after {
	content: "\f0d8";
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
	position: absolute;
	right: 0;
}
.navbar .dropdown.open>a:after {
	content: "\f0d7";
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
	position: absolute;
	right: 0;
}
.navbar .dropdown ul {
	display: none;
}
.navbar .dropdown.open ul {
	display: block;
}
.navbar .dropdown ul a:link, .navbar .dropdown ul a:active, .navbar .dropdown ul a:visited {
	background-color: #A9A9A9;
	color: #000300;
}
.navbar .dropdown ul a:hover {
	background-color: #DCDCDC;
}
@media screen and (min-width:768px) {
	.navbar-brand {
		flex: 0 0 180px;
		max-width: 180px;
	}
	.navbar-toggler {
		display: none;
	}
	.navbar {
		display: block;
		flex: 0 1 calc(100% - 220px);
		max-width: calc(100% - 220px);
		text-align: right;
	}
	.navbar>li {
		display: inline-block;
	}
	.navbar .dropdown ul {
		position: absolute;
		z-index: 1;
		width: 125px;
		text-align: left;
		;
	}
}
/*end of header styles*/

/*menu_item Component*/

.menu_item {
	display: flex;
	flex-flow: row wrap;
	justify-content: right;
	padding-top: 1rem;
}
.menu_item h2 {
	margin-bottom: .8rem;
}
.menu_item h3 {
	text-align: left;
	font-family: 'Inconsolata', monospace;
	font-weight: 700;
}

.menu_item h2 {
	text-align: center;
	font-family: 'Inconsolata', monospace;
	font-weight: 700;
}

.menu_item p {
	font-size: .5rem;
	font-family: 'Inconsolata', monospace;
}
.menu_item img {
	padding-top: 1rem;
}
/*Project Component*/

/*Full width header*/

.full-width-header {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	justify-items: center;
	width: 100%;
	min-height: 50vh;
}
.full-width-header h1 {
	font-size: 9vw;
	font-family: 'Pacifico', cursive;
	color: white;
}
.full-width-header .background {
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.full-width-header .background:before {
	margin-top: .45rem;
	display: block;
	overflow: hidden;
	content: "";
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 73%;
}
.full-width-header .background img {
	width: 100%;
	height: 80%;
	object-fit: cover;
	object-position: center;
}
/* end Full width header*/

/*image styles*/

.square, .circle {
	width: 100%;
	padding-top: .5rem;
	padding-bottom: .5rem;
}
.circle {
	border-radius: 50%;
	overflow: hidden;
	padding-bottom: 100%;
}
.circle img, .square img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}
/*end of image styles*/

/*Bio component*/

.bio .bio-info {
	font-size: 1rem;
}

/*Bio component end*/

/*form*/

form {
	margin-bottom: 2.618rem;
	font-family: 'Inconsolata', monospace;
	padding: 0;
}
fieldset {
	margin: 0;
	margin-bottom: .75rem;
}
legend {
	padding-top: 1rem;
}

@media screen and (min-width:1200px) {
	form{
		padding-left: 2rem;
	}
}

/*end of form*/

/*Cart Item*/

.cart_item{
	padding-top: 1rem;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: left;
}

.cart_item .food_cost{
	padding-top: 1rem;
	justify-content: right;
}

.cart_item .food_name{
	justify-content: left;
}

.cart_item p {
	font-size: .5rem;
	text-align: center;
}

/*end of Cart Item*/

/*sidebar*/

.sidebar .cart_item .food_cost {
	padding-top: 0rem;
}

.sidebar h2 {
	font-weight: 700;
	font-family: 'Inconsolata', monospace;
}

/*end of sidebar*/

/* Footer */

footer {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	justify-items: center;
	margin-top: 20px;
	font-size: 2rem;
}
footer .main-footer {
	padding-top: .5rem;
	color: #696969;
	padding-left: 10px;
}

footer .main-footer a:link, footer .main-footer a:visited, footer .main-footer a:active {
	color:	#696969;
}

footer .main-footer a:hover {
	color: #A9A9A9;
}
/* end of Footer */