body{
    background-color: #fffcfc;
}

main{
    padding-left: 15%;
    padding-bottom: 10px;
}

header, footer{
    background-color: #dadada;
    padding: 5px;
    text-align: center;
    color: #666666;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


h1{
    color: #1F416F;
    font-size: 50px;
}

h2{
    color: #E1752C;
    font-size: 30px;
}

li{
    color: #666666;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper{
    width: 50%;
}

.t1{
    color: black;
}

/* table styles */
table {
    border-collapse: collapse;
    width: 75%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

table th {
    background-color: #dadada;
    border: 1px solid black;
    padding: 10px;
    vertical-align: top;
    text-align: left;
}

table td {
    border: 1px solid black;
    padding: 10px;
    vertical-align: top;
    text-align: left;
}

.sc {
    width: 4em;
}

/* table styles end*/